
<h4>log in</h4>
    <%= form_tag sessions_path do %>
      
        <%= label_tag "Email:", :email %>
        <%= text_field_tag :email, params[:email] %>
      
        <%= label_tag "Password:", :password %>
        <%= password_field_tag :password %>
    
      <%= submit_tag "Log in", :class => "alpha50black" %>
    <% end %>