<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
      <p class="notice"><%= pluralize(@recipe.errors.count, "error") %> could not save this recipe</p>

  <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

  <div>
    <h5><%= f.label :title %></h5>
    <%= f.text_field :title %>
  </div>
  
  

  <div>
    <h5><%= f.label :recipe_image%></h5>
    <%= image_tag @recipe.recipe_image.detail.url, class: "r_image" %></br>
    <%= f.file_field :recipe_image%>
  </div>
  


  
  <div>
    <h5><%= f.label :instructions %></h5>
    <%= f.text_area :instructions, class: "textarea"  %></div>

  <div>
    <h5><%= f.label :ingredients %></h5>
    <ul>
      <% Ingredient.all.each do |ingredient| %>
        <li>
        <%= label_tag ingredient.name %>
        <%= check_box_tag 'recipe[ingredient_ids][]', ingredient.id, @recipe.ingredient_ids.include?(ingredient.id) %>
        </li>
      <%end%>
    </ul>
  </div>
  
  
    <%= f.submit %>
  
  
<% end %>
