
<h3>recipes</h3>

  
<% @recipes.each do |recipe| %>

  <article>
    <%= link_to recipe.title, recipe %>
    <%= image_tag recipe.recipe_image.thumb.url %>
    
    
    <% if can? :update, @recipe %>
    <%= link_to 'Edit', edit_recipe_path(recipe) %>

    <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>
  </article>
<% end %>

<% if can? :create, @recipe %>
<%= link_to 'New Recipe', new_recipe_path %>
<% end %>


