<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= image_tag @recipe.recipe_image.detail.url %>
</p>



<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>



<p>
  <b>Ingredients:</b>
  <% @recipe.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
  <%end%>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>

<% if can? :update, @recipe %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', recipes_path %>
