
<h3><%= @recipe.title %></h3>

<%= image_tag @recipe.recipe_image.detail.url, class: "left r_image" %>

<ul class="left clear">

<li>
  <h4>ingredients:</h4>
  <% @recipe.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
  <%end%>
</li>

<li>
  <h4>instructions:</h4>
  <%= @recipe.instructions %>
</li>
</ul>

<div class="right clear rounded alpha50black padded">
  <% if can? :update, @recipe %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>

  <%= link_to 'Back', recipes_path %>
</div>
