<nav class="clearfix">
          <ul>

            <%if controller.class.to_s == "RecipesController"  %>
                <li class="nav"><%= link_to "Recipes", root_path, class: "selected rounded" %></li>
                <li class="nav"><%= link_to "Ingredients", ingredients_path, class: "rounded" %></li>
            <% else %>
              <li class="nav"><%= link_to "Recipes", root_path, class: "rounded" %></li>
                <li class="nav"><%= link_to "Ingredients", ingredients_path, class: "selected rounded" %></li>
            <% end %>
            <% if current_user %>
            <li class="right"><%= link_to 'log out', session_path(session), method: :delete, data: {confirm: 'Are you sure?'}, class: "authenticate rounded" %></li>
            <span class="notice right padded clear">Hello, <%= current_user.email %></span>
            <% else %>
            <li class="right"><%= link_to 'login', login_path, class: "authenticate rounded"  %><li/>
            <li class="right"><%= link_to 'sign up', new_user_path, class: "authenticate rounded"%></li>
            <%end%>

            <% flash.each do |name, message|  %>
            <p class="notice"><%= message%></p>
            <%end%>

          </ul>
        </nav>

      <%= search_form_for @q, url: search_recipes_path, html: {method: :post}, :class => "search clear" do |f| %>
      
      <%= f.text_field :title_or_ingredients_name_cont, placeholder: 'search by title or ingredient' %>
      <%= f.submit :class => "alpha50black" %>
      <% end %>