<!DOCTYPE html>
<html>
<head>
  <title>MyCookbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

<% if current_user %>
    <p>hello, <%= current_user.email %></p>
    <%= link_to 'log out', session_path(session), method: :delete, data: {confirm: 'Are you sure?'} %>
    <% else %>
    <%= link_to 'please login', login_path %>
    <%= link_to 'sign up', new_user_path %>
  <%end%>

  <% flash.each do |name, message| %>
  <div class="flash-message flash_message-<%=name%>">
    <%= message%>
  </div>
  <%end%>

<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Recipes", recipes_path %></li>
  <li><%= link_to "Ingredients", ingredients_path %></li>
</ul>

<%= yield %>
</div>
</body>
</html>
